body{
    background-color: #18af63;
    color: #fff;
    font-family: questrial;
}

@font-face {
    font-family: Original by fnkfrsh;
    src: url("vendor/fonts/original/Original by fnkfrsh.otf") format("opentype");
}

h3{
    font-family: Original by fnkfrsh;
}

@import url(http://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}

.container3{
    margin: 4% auto;
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
}
img:hover{
    -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
/*sobre mi*/
.planePath {
  stroke: #D9DADA;
  stroke-width: .1%;
  stroke-width: .5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}

.fil1 {
  fill: #D9DADA;
}

.fil2 {
  fill: #C5C6C6;
}

.fil4 {
  fill: #9D9E9E;
}

.fil3 {
  fill: #AEAFB0;
}

/*habilidades*/
.container2{
  height: 810px;
  max-width: 100%;
  background: rgba(0,0,0,0.6);
  margin: 0 auto;
  padding: 20px 80px 20px 80px;
}

.progress-bar {
  margin: 0 0 10px;
  overflow: hidden;
  padding-right: 24px; /* Separate bars from container */
}

.progress-title-holder {
  padding-bottom: 7px;
  position: relative;
  margin: 5px 0;
  font-family: questrial;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;  
}

.progress-title {
  z-index: 100;
}

.progress-number-wrapper {
  width: 100%;
  z-index: 10;
}

.progress-number-mark {
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: rgb(22,23,29);
  padding: 0 8px;
  position: absolute;
  bottom: 0;   
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%); 
} 

.progress-number-wrapper,
.progress-number-mark {
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  line-height: 24px;
  height: 24px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  color: #ffffff;
}

.down-arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #16171d;
  position: absolute;
  left: 50%;
  top: 100%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);  
}

.progress-content-outter {
  height: 12px;
  background-color: #ffffff;
}

.progress-content {
  height: 21px;
  background-color: rgb(24, 175, 99);
  width: 0%; /* Initial value */
}
/*fin de habilidades */

.intro{
    background: url(../img/inicio.JPG);
    background-size: cover;
    color: #fff;
    height: 100vh;
}

.intro div.col{
    padding:0;
}

.logo{
    padding: 4vh;
}

span.icon-minus{
    text-align: center;
    font-size: 1.5rem;
}

.name{
    background: rgba(16, 22, 19, 0.61);
    text-align: center;
    position: relative;
    left: 0vh;
    top: 20vh;
    font-family: Original by fnkfrsh;
    padding: 1vh 0vh;
}
.name span{
    font-size: 5.8rem;
}

.name .t-name span{
    text-align: center;
    position: relative;
    font-family: questrial;
    font-size: 1.1rem;
}

.social-net{
    font-size: 2.6rem;
    position: fixed;
    right: 2vh;
    top: 64vh;
    width: 40px;
    z-index: 4;
    text-align: center;
}

.social-net a{
    color: #fff;
}

.menubar{
    position: fixed;
    right: 4vh;
    top: 4vh;
    font-size: 1.5rem;
    color: #fff;
    z-index: 301;
    cursor: pointer;
}

.show{
    visibility: visible;
    transform: scale(1.2,1.2);
}

.hide{
    visibility: hidden;
}

.nav-list{
    font-size: 4.2rem;
    text-align: center;
    top: 1vh;
    font-family: Original by fnkfrsh;
    position: relative;
}

a.line{
    color: #fff;
}

a{
    cursor:pointer;
    color: #fff;
}

a.line:hover{
    text-decoration: line-through;
    color:#18af63;
}

div#menu{
    background-color: rgba(78, 81, 79, 0.99);
    position: fixed;
    z-index: 300;
    box-shadow: 0 20px 40px rgba(0,0,0,.1);
    transition: all .3s;
    top: 0;
    width: 100%;
    height: 100vh;
}

.arrow-b {
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 40vh;
}

.arrow-b a{
    color:#63222a;
}

.about{
    padding-top: 12vh;
    text-align: center;
    color: #fff;
    font-family: questrial;
}

.sk{
    padding-top: 4vh;
}

.who, .sk, .contact{
    font-size: 1.1rem;
    font-family: Original by fnkfrsh;
    color: #fff;
    padding-bottom: 4vh;
}

.who{
    padding-right: 4vh;
}

.port{
    color: #fff;
    padding-top: 15vh;
    padding-bottom: 8vh;
    text-align: center;
}

.letras{
    font-size: 2rem;
}

.t-who p{
    padding: 0vh 3vh;
    text-align: center;
    font-size: large;
}

.skills{
    padding-top: 15vh;
    text-align: center;
    padding-bottom: 5vh;
   /* background:#181531;*/
}

.contact-section{
    padding-top: 6vh;
    text-align: center;
}

.contact{
    padding-left: 8vh;
}

span.call{
    font-size: 2.8rem;
}

.cv-button a{
    background-color: rgba(0, 0, 0, 0.82);
}

.cv-button a.btn:hover{
    background-color: #321117;
}

.lista h4{
    padding-bottom: 4vh;
    font-family: Original by fnkfrsh;
}

.lista a{
    color: #fff;
    font-size: 1.1rem;
}

.lista li{
    display: inline-block;
    padding: .5vh 1vh;
    cursor: default;
}
.lista span{
    font-size: 1.3em;
}

.modal-content{
    color:#545454;
}

.modal-footer{
    height: 32px !important;
    text-align: right;
    background: #96404c !important;
}
.modal-footer span{
    color: #fff;
    font-size: 1.2rem;
    padding:1vh;
}

.port-section .row{
    padding:0;
    margin: 0;
}

.portfolio div.col{
    padding:0 !important;
}

.portfolio div div div{
    background-size: cover;
    height: 50vh;
}

.julliard{
    background: url(../img/creamy.png);;
    background-position-x: 30%;
}

.portafolio{
     background-image: url(../img/GATO.png);
     background-position-x: 50%;
}

.user-testing{
     background-image: url(../img/user-testing.png);
     background-position-x: 50%;
}

.twitter{
     background-image: url(../img/republica.jpg);
     background-position-x: 30%;
     cursor: pointer;
}

.trello{
     background-image: url(../img/trello.jpg);
}

.lyft{
     background-image: url(../img/Carrocomp.jpg);
     background-position-x: 50%;
}

.v-magazine{
     background-image: url(../img/v-magazine.jpg);
     background-position-y: 45%;
}

.book-cover{
     background-image: url(../img/book-cover.jpg);
}

.powertrekk{
     background-image: url(../img/powertrekk.jpg);
}

/*MOSTRAR ICONOS - HOVER*/
#show-hover .text-icons{
    position: absolute;
    top: 28vh;
    left: 0;
    visibility: hidden;
    font-size: 1.1rem;
    width: 100%;
    height: 30px;
    color: white;
    z-index: 10;
    margin: auto;
    text-align: center;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
}

#show-hover:hover .text-icons {
    visibility:visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transition-property: transform;
    transition: all .5s ease;
}
/*FIN MOSTRAR ICONOS - HOVER*/

/*MOSTRAR TEXTO - HOVER*/
#show-hover .text {
    position: absolute;
    bottom: 19vh;
    left: 0;
    visibility: hidden;
    font-size: 1.5rem;
    width: 100%;
    height: 40px;
    color: white;
    z-index: 10;
    margin: auto;
    text-align: center;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
}

#show-hover:hover .text {
    visibility:visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transition-property: transform;
    transition: all .5s ease;
}
/*FIN MOSTRAR TEXTO-HOVER*/

/*OSCURECER IMG*/
#show-hover{
    position: relative; 
} 

#show-hover:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#show-hover:hover:after {
    opacity:2;
}
/*FIN OSCURECER IMG*/

/*MOSTRAR ICONOS - HOVER*/
#show-hover .text-icons{
    position: absolute;
    top: 32vh;
    left: 0;
    visibility: hidden;
    font-size: 1.1rem;
    width: 100%;
    color: white;
    z-index: 10;
    margin: auto;
    text-align: center;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
}

#show-hover:hover .text-icons {
    visibility:visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transition-property: transform;
    transition: all .5s ease;
}
/*FIN MOSTRAR ICONOS - HOVER*/

/*MOSTRAR TEXTO - HOVER*/
#show-hover .text {
    position: absolute;
    bottom: 19vh;
    left: 0;
    visibility: hidden;
    font-size: 1.5rem;
    width: 100%;
    color: white;
    z-index: 10;
    margin: auto;
    text-align: center;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
}

#show-hover:hover .text {
    visibility:visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transition-property: transform;
    transition: all .5s ease;
}
/*FIN MOSTRAR TEXTO-HOVER*/

/*OSCURECER IMG*/
#show-hover{
    position: relative; 
} 

#show-hover:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#show-hover:hover:after {
    opacity:2;
}
/*FIN OSCURECER IMG*/

.footer{
    background:#321117;
    padding:1vh;
    padding-left: 12vh;
}

div.remodal{
    background: #dadada;
    color: ;
}

div.remodal-overlay{
    background-color: rgba(0, 0, 0, 0.76);
}

div.remodal p{
    text-align: justify;
}

div.remodal h3{
    font-family: Original by fnkfrsh;
    color: #18af63;
}

.remodal a{
    background-color: #18af63 ;
}

.remodal a.btn:hover{
    background-color: rgb(10, 8, 8);
}

.language{
    position: absolute;
    left: 4vh;
    bottom: 7vh;
    font-size: 1.2rem;
    font-family: Original by fnkfrsh;
}

div.language a{
    color: #fff;
}
.top{
    padding:2vh;
    font-family: Original by fnkfrsh;
}
.top a{
    position: relative;
    top: 3vh;
    color: #fff;
}



.nenunav {
  float: right; /* Desplazamos el .nenunav hacia la izquierda */
}
 
.nenunav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
 
.nenunav ul li {
  float: right; ;
  font-family: Original by fnkfrsh;
  font-size: 16px;
}
 
.nenunav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
 


header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}
@media screen and (max-width: 1400px){
    .menubar{
        display: none;
    }
    .name{
        top:0px;
        float: right;
        margin-top: 8%;
        width: 503px;
    }

    .arrow-b {
        text-align: center;
        font-size: 4rem;
        position: relative;
        top: 86vh;
    }
     .logo {
           display: none;
    }

}

@media screen and (max-width: 1050px){
    .row .col.push-s5 {
        left: 0% !important;
    }
    .name{
        top:0px;
        float: left;
        margin-top: 8%;
        width: 503px;
    }
     .logo {
           display: none;
    }

}
@media screen and (max-width: 800px){
    .menubar{
        display: none;
    }
    .intro {
        
        background-size: cover;
        color: #fff;
        height: 100vh;
        background-repeat: no-repeat;
        background-size:contain;
        background-position:center;
    }

    .name{
        width: 100%;
        background: rgba(16, 22, 19, 0.61);
        text-align: center;
        position: initial;
        left: 0vh;
        top: 20vh;
        font-family: Original by fnkfrsh;
        padding: 1vh 0vh;
        margin-top: 13%;
    }


    .name .t-name span {
        text-align: center;
        position: relative;
        font-family: questrial;
        font-size: 2.1rem;
    }

    .name span {
        font-size: 3.8rem;
    }

    .row .col.push-s5 {
        left: 41% !important;
    }

    .arrow-b {
        text-align: center;
        font-size: 4rem;
        position: relative;
        top: 57vh;
    }

    .logo {
           display: none;
    }
}
@media screen and (max-width: 679px){
    .logo {
           display: block;
    }
    .intro {
        background-size: cover;
        color: #fff;
        height: 100vh;
        background-repeat: no-repeat;
        background-size:contain;
        background-position:center;
    }
    .name{
        width: 100%;
        margin-top: 0%;
    }
    .nenunav{
        display: none;
    }
    .menubar{
        color: #fff;
        display: block;
    }
    .who, .sk, .port, .contact{
        padding: 0vh 4vh;
    }
    .letras{
        font-size: 1.6rem
    }
    .arrow-b span{
        color: #fff;
    }
    .language{
        position: absolute;
        left: 4vh;
        bottom: 9vh;
        font-size: 1.2rem;
        font-family: Original by fnkfrsh;
    }
    .social-net{
        top:58vh;
    }
    .footer{
        padding-left: 0;
    }

    div#menu {
        
        height: 66vh;
    }

    .nav-list {
        font-size: 2.2rem;
       
    }

    .logo {
        padding: 2vh 0vh 0vh 3vh;
    }
    .logo img{
        width: 39%;
    }
}
@media screen and (max-width: 600px){

    .name span {
        font-size: 1.8rem;
    }
    .name{
        width: 100%;
    }
    .name .t-name span {
        text-align: center;
        position: relative;
        font-family: questrial;
        font-size: 1.1rem;
        
    }
    .row .col.push-s5 {
        left: 42% !important;
    }
    .arrow-b {
        text-align: center;
        font-size: 4rem;
        position: relative;
        top: 56vh;
    }
}

@media screen and (max-width: 500px){
    .name span {
        font-size: 1.8rem;
    }


    .name{
            width: 100%;
        background: rgba(16, 22, 19, 0.61);
        text-align: center;
        position: initial;
        left: 0vh;
        top: 20vh;
        font-family: Original by fnkfrsh;
        padding: 1vh 0vh;
    }


    .intro {
        background-size: cover;
        color: #fff;
        height: 100vh;
        background-repeat: no-repeat;
        background-size:contain;
        background-position:center;
    }
    
}

